__pycache__/
.venv/
.claude/
.cursor/
.vscode/

# Raw data ONLY (large, not pushed)
data/DVSGesture
data/SHD
data/UCI_HAR_Dataset



# Other
rockpoolDevelopment/data/SHD
MNIST/*.Zone.Identifier
other/
legacy/
data/uci_har/
